.header {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 15px;
    font-style: italic;
    font-weight: 700;
    font-size: 2em;
    line-height: 1;
}

.header-logo {
    width: 50px;
}